---
import { Facebook, Twitter, Linkedin, Instagram } from "lucide-react";
---

<!-- Redes Sociales -->
<div class="flex space-x-4">
    <a
        aria-label="Ir a Facebook"
        href="https://www.facebook.com/profile.php?id=100075989958539"
        class="text-secundario hover:text-primario transition"
    >
        <Facebook size={24} />
    </a>
    <a
        aria-label="Ir a Twitter"
        href="#"
        class="text-secundario hover:text-primario transition"
    >
        <Twitter size={24} />
    </a>
    <a
        aria-label="Ir a Linkedin"
        href="https://www.linkedin.com/company/connective-it-solutions-mx"
        class="text-secundario hover:text-primario transition"
    >
        <Linkedin size={24} />
    </a>
    <a
        aria-label="Ir a IG"
        href="#"
        class="text-secundario hover:text-primario transition"
    >
        <Instagram size={24} />
    </a>
</div>
