---
import data from "../../Data/Proyectos.json";
import ProyectosC from "../Home/ProyectosC.astro";

const { categoria } = Astro.props;
const filtrados = data.filter((p) => p.categoria === categoria);
---

<div class="w-full overflow-x-auto scrollbar-hide">
    <div class="flex gap-6 overflow-visible pb-16">
        {
            filtrados.map((data) => (
                <div class="min-w-[300px] sm:min-w-[340px] md:min-w-[380px] lg:min-w-[420px] flex-shrink-0 m-auto">
                    <ProyectosC
                        Img={{ src: data.img }}
                        Titulo={data.titulo}
                        Info={data.info}
                    />
                </div>
            ))
        }
    </div>
</div>
